<a href="https://colab.research.google.com/github/hyeonmyeongpark/Study-Python/blob/main/Python_Coding_Dojang_(part_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Unit 5. 숫자 계산하기**

5.1 사칙연산

In [ ]:
#더하기
print(1 + 1)

# 빼기 
print(1 - 2)

# 곱하기
print( 2 * 2)

# 나누기
print(5 / 2)
print(4 / 2)

# 나눗셈 후 소수점 이하를 버리는 // 연산자
print(5 // 2)

# 나눗셈 후 나머지를 구하는 % 연산자
print(5 % 2)

# 거듭제곱을 구하는 ** 연산자
print(2**10)

2
-1
4
2.5
2.0
2
1
1024

5.2 값을 정수로 만들기

In [ ]:
print(int(3.3))
print(int(5 / 2))
print(int('10'))

3
2
10

5.3 객체의 자료형 알아내기

In [ ]:
type(10)

int

5.4 몫과 나머지를 함께 구하기

In [ ]:
print(divmod(5, 2))

(2, 1)

In [ ]:
quotient, remainder = divmod(5, 2)

In [ ]:
print(quotient, remainder)

2 1

5.5 실수 계산하기

In [ ]:
print(3.5 + 2.1)
print(4.3 - 2.7)
print(1.5 * 3.1)
print(5.5 / 3.1)

5.6
1.5999999999999996
4.65
1.7741935483870968

5.6 실수와 정수를 함께 계산하면?

In [ ]:
print(4.2 + 5)

9.2

5.7 값을 실수로 만들기

In [ ]:
print(float(5))
print(float(1 + 2))
print(float('5.3'))
print(type(3.5))

5.0
3.0
5.3
<class 'float'>

5.8 괄호 사용하기

In [ ]:
print(35 + 1 * 2)
print((35 + 1) * 2)

37
72

5.5 연습문제: 아파트에서 소음이 가장 심한 층수 출력하기

국립환경과학원에서는 아파트에서 소음이 가장 심한 층수를 구하는 계산식을 발표했습니다. 소음이 가장 심한 층은 0.2467 * 도로와의 거리(m) + 4.159입니다. 다음 소스 코드를 완성하여 소음이 가장 심한 층수가 출력되게 만드세요. 단, 층수를 출력할 때는 소수점 이하 자리는 버립니다(정수로 출력).

In [ ]:
int(0.2467 * 12 + 4.159)

7

해설

소음이 가장 심한 층수를 구하는 계산식은 0.2467 * 도로와의 거리(m) + 4.159라고 했으므로 0.2467에 12를 곱한 뒤 4.159를 더해주면 됩니다. 계산 결과는 7.1194가 나오지만 사용자에게 보여줄 때는 7.1194층보다 7층이 더 좋겠죠? 따라서 int에 계산식을 넣어서 결과를 정수로 만들어줍니다.

**Unit 6. 변수와 입력 사용하기**

6.1 변수 만들기

In [ ]:
# 6.1.1 변수 만들기
x = 10
print(x)

y = 'Hello, world!'
print(y)

# 6.1.2 변수의 자료형 알아내기
print(type(x))
print(type(y))

# 6.1.3 변수 여러 개를 한 번에 만들기
x, y, z = 10, 20, 30
print(x)
print(y)
print(z)

# 6.1.4 변수 여러 개를 만들 때 값이 모두 같아도 된다면 다음과 같은 방식도 사용할 수 있습니다.
x = y = z = 10
print(x)
print(y)
print(z)

# 응용 버전, 두 변수의 값을 바꾸려면?
x, y = 10, 20
x, y = y, x
print(x)
print(y)

10

6.2 변수로 계산하기

In [ ]:
# 6.2.1 변수를 활용하여 계산하기
a = 10
b = 20
c = a + b
print(c)

# 6.2.2. 산술 연산 후 할당 연산자 사용하기
a = 10
a + 20
print(a)
# 결과는 그대로 10이 나옴, 변수에 저장해야지 결과가 유지됨
a = 10
a = a + 20  
print(a)

6.3 입력 값을 변수에 저장하기

In [ ]:
# 6.3.1 input 함수의 결과를 변수에 할당하기
x = input('문자열을 입력하세요: ')
# x에 입력 
print(x)

# 6.3.2 두 숫자의 합 구하기
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
print(a + b)
# * 이때 실행결과가 문자열로 인식되어 숫자형으로 계산이 안됨
# type을 변경하여 정수로 변환해보자

문자열을 입력하세요: hello world
hello world
첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
1020

In [ ]:
# 6.3.3 입력 값을 정수로 변환하기
a = int(input('첫 번째 숫자를 입력하세요: '))    # int를 사용하여 입력 값을 정수로 변환
b = int(input('두 번째 숫자를 입력하세요: '))    # int를 사용하여 입력 값을 정수로 변환
print(a + b)

첫 번째 숫자를 입력하세요: 10
두 번째 숫자를 입력하세요: 20
30

6.4 입력 값을 변수 두 개에 저장하기

In [ ]:
# 6.4.1  input에서 split을 사용한 변수 여러 개에 저장해주기

a, b = input('문자열 두 개를 입력하세요: ').split()
# 입력받은 값을 공백을 기준으로 분리

print(a)
print(b)

# 6.4.2 두 숫자의 합 구하기
a, b = input('숫자 두 개를 입력하세요: ').split()
# 입력받은 값을 공백을 기준으로 분리
print(a + b)
# * 이때 결과가 숫자로 인식되어 나오지 않음

# 6.4.3 입력 값을 정수로 변환하기
a, b = input('숫자 두 개를 입력하세요: ').split()    # 입력받은 값을 공백을 기준으로 분리
a = int(a)    # 변수를 정수로 변환한 뒤 다시 저장
b = int(b)    # 변수를 정수로 변환한 뒤 다시 저장
print(a + b)

# 6.4.4 map을 사용하여 정수로 변환하기
a, b = map(int, input('숫자 두 개를 입력하세요: ').split())
print(a + b)

# 6.4.5 입력받은 값을 콤마를 기준으로 분리하기
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(',')) # 입력받은 값을 콤마를 기준으로 분리
 
print(a + b)

문자열 두 개를 입력하세요: 10 20
10
20
숫자 두 개를 입력하세요: 10 20
1020
숫자 두 개를 입력하세요: 10 20
30
숫자 두 개를 입력하세요: 10 20
30
숫자 두 개를 입력하세요: 10,20
30

6.6 연습문제: 정수 세 개를 입력받고 합계 출력하기

In [ ]:
a, b, c = map(int, input("정수를 세 개 입력하세요(공백으로 분리)").split())

정수를 세 개 입력하세요(공백으로 분리)10 20 30

In [ ]:
print(a)
print(b)
print(c)

10
20
30

**Unit 7. 출력 방법 알아보기**

7.1 값을 여러 개 출력하기

In [ ]:
# 7.1.1 sep로 값 사이에 문자 넣기
print(1, 2, 3)
print('Hello', 'Python')

# 7.1.2 sep로 값 사이에 문자 넣기
print(1, 2, 3, sep=', ')    # sep에 콤마와 공백을 지정
print(4, 5, 6, sep=',')    # sep에 콤마만 지정
print('Hello', 'Python', sep='')    # sep에 빈 문자열을 지정
print(1920, 1080, sep='x')    # sep에 x를 지정

1 2 3
Hello Python
1, 2, 3
4,5,6
HelloPython
1920x1080

7.2 줄바꿈 활용하기

In [ ]:
# \n 띄어쓰기
print(1, 2, 3)
print(1, 2, 3, sep='\n')
print('1\n2\n3') 

 # end에 빈 문자열을 지정하면 다음 번 출력이 바로 뒤에 오게 됨
print(1, end='')   
print(2, end='')
print(3)

# end에 공백 한 칸 지정
print(1, end=' ')    
print(2, end=' ')
print(3)

1 2 3
1
2
3
1
2
3
123
1 2 3

7.4 연습문제: 날짜와 시간 출력하기

In [ ]:
year = 2000
month = 10
day = 27
hour = 11
minute = 43
second = 59
 
print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2000/10/27 11:43:59

**Unit 8. 불과 비교, 논리 연산자 알아보기**

In [ ]:
# 8.1.1 불과 비교 연산자 사용하기
print(True)
print(False)

# 8.1.2 비교 연산자의 판단 결과
print(3 > 1)
# 파이썬에서는 비교 연산자와 논리 연산자의 판단 결과로 True, False를 사용합니다.
# 즉, 비교 결과가 맞으면 True, 아니면 False입니다.

# 8.1.3 숫자가 같은지 다른지 비교하기
print(10 == 10)
print(10 != 5)

# 8.1.4 문자열이 같은지 다른지 비교하기
print('Python' == 'Python')
print('Python' == 'python')
print('Python' != 'python')

# 8.1.5 부등호 사용하기
print(10 > 20)    # 10이 20보다 큰지 비교
print(10 < 20)    # 10이 20보다 작은지 비교
print(10 >= 10)    # 10이 10보다 크거나 같은지 비교
print(10 <= 10)    # 10이 10보다 작거나 같은지 비교

True
False
True
True
True
True
False
True
False
True
True
True

In [ ]:
# 8.1.6 객체가 같은지 다른지 비교하기
print(1 == 1.0)
print(1 is 1.0)
print(1 is not 1.0)

True
False
True

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<ipython-input-58-7f6bc2b91b63>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(1 is 1.0)
<ipython-input-58-7f6bc2b91b63>:4: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print(1 is not 1.0)

8.2 논리 연산자 사용하기

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

# and는 두 값이 모두 True라야 True입니다. 하나라도 False이면 False가 나옵니다.

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

# or는 두 값 중 하나라도 True이면 True입니다. 두 값이 모두 False라야 False가 되죠.

True
True
True
False

In [ ]:
print(not True)
print(not False)

False
True

**Unit 9. 문자열 이용하기**

9.1 문자열 사용하기

In [ ]:
hello = 'Hello, world!'
print(hello)

# 9.1.1 여러 줄로 된 문자열 사용하기
hello1 = '''Hello, world!
안녕하세요.
Python입니다.'''
print(hello1)

# 9.1.2 문자열 안에 작은따옴표나 큰따옴표 포함하기
s = "Python isn't difficult"
s1 = 'He said "Python is easy"'
print(s)
print(s1)

Hello, world!
Hello, world!
안녕하세요.
Python입니다.
Python isn't difficult
He said "Python is easy"

**Unit 10. 리스트와 튜플 사용하기**

In [ ]:
# 10.1 리스트 만들기
a = [38, 21, 53, 62, 19]
print(a)

# 10.1.1  리스트에 여러 가지 자료형 저장하기
person = ['james', 17, 175.3, True]
print(person)

# 10.1.2  빈 리스트 만들기
a1 = []
print(a1)
b = list()
print(b)

# 10.1.3  range를 사용하여 리스트 만들기
# 리스트 = list(range(횟수))
a2 = list(range(10))
print(a2)

# 리스트 = list(range(시작, 끝))
b2 = list(range(5, 12))
print(b2)

# 리스트 = list(range(시작, 끝, 증가폭))
c2 = list(range(-4, 10, 2))
print(c2)

[38, 21, 53, 62, 19]
['james', 17, 175.3, True]
[]
[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[-4, -2, 0, 2, 4, 6, 8]

**Unit 11. 시퀀스 자료형 활용하기**

In [ ]:
# 11.1.1  특정 값이 있는지 확인하기
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
print(30 in a)
print(100 in a)
print(100 not in a)

# 11.1.2  시퀀스 객체 연결하기
#  시퀀스객체1 + 시퀀스객체2
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]
print(a + b)

# 문자열에 숫자 연결하기
# '문자열' + str(정수)
print('Hello, ' + str(10))      # str을 사용하여 정수를 문자열로 변환
# '문자열' + str(실수)
print('Hello, ' + str(1.5))     # str을 사용하여 실수를 문자열로 변환

# 11.1.3  시퀀스 객체 반복하기
# 시퀀스객체 * 정수
# 정수 * 시퀀스객체
print([0, 10, 20, 30] * 3)

True
False
True
[0, 10, 20, 30, 9, 8, 7, 6]
Hello, 10
Hello, 1.5
[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

**Unit 12. 딕셔너리 사용하기**

In [ ]:
lux = [490, 334, 550, 18.72]
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}

# 12.1 딕셔너리 만들기
# 딕셔너리는 { }(중괄호) 안에 키: 값 형식으로 저장하며 각 키와 값은 ,(콤마)로 구분해줍니다.
# 딕셔너리 = {키1: 값1, 키2: 값2}
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
print(lux)

# 키 이름이 중복되면?
lux = {'health': 490, 'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}
print(lux['health'])    # 키가 중복되면 가장 뒤에 있는 값만 사용함
print(lux)    # 중복되는 키는 저장되지 않음

# 12.1.2  딕셔너리 키의 자료형
x = {100: 'hundred', False: 0, 3.5: [3.5, 3.5]}
print(x)

# 12.1.3  빈 딕셔너리 만들기
# 딕셔너리 = {}
# 딕셔너리 = dict()
x1 = {}
print(x1)
y1 = dict()
print(y1)

# 12.1.4  dict로 딕셔너리 만들기

# 딕셔너리 = dict(키1=값1, 키2=값2)
lux1 = dict(health=490, mana=334, melee=550, armor=18.72)    # 키=값 형식으로 딕셔너리를 만듦
print(lux1)

# 딕셔너리 = dict(zip([키1, 키2], [값1, 값2]))
lux2 = dict(zip(['health', 'mama', 'melee', 'armor'], [490, 334, 550, 18.72]))
print(lux2)

# 딕셔너리 = dict([(키1, 값1), (키2, 값2)])
lux3 = dict([('health', 490), ('mana', 334), ('melee', 550), ('armor', 18.72)])
print(lux3)

# 딕셔너리 = dict({키1: 값1, 키2: 값2})
lux4 = dict({'health' : 490, 'mama' : 334, 'melee' : 550, 'armor' : 18.72})
print(lux4)

{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
800
{'health': 800, 'mana': 334, 'melee': 550, 'armor': 18.72}
{100: 'hundred', False: 0, 3.5: [3.5, 3.5]}
{}
{}
{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
{'health': 490, 'mama': 334, 'melee': 550, 'armor': 18.72}
{'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
{'health': 490, 'mama': 334, 'melee': 550, 'armor': 18.72}

In [ ]:
# 12.2 딕셔너리의 키에 접근하고 값 할당하기
# 딕셔너리[키]
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
print(lux['health'])
print(lux['armor'])

# 12.2.1  딕셔너리의 키에 값 할당하기
# 딕셔너리[키] = 값
lux1 = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
lux1['health'] = 2037    # 키 'health'의 값을 2037로 변경
lux1['mana'] = 1184      # 키 'mana'의 값을 1184로 변경
print(lux1)
lux1['mana_regen'] = 3.28    # 키 'mana_regen'을 추가하고 값 3.28 할당
print(lux1)

# 12.2.2  딕셔너리에 키가 있는지 확인하기
lux2 = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
print('health' in lux2)
print('attack_speed' in lux2)

# 키 not in 딕셔너리
print('attack_speed' not in lux2)
print('health' not in lux2)

# 12.2.3  딕셔너리의 키 개수 구하기
lux = {'health': 490, 'mana': 334, 'melee': 550, 'armor': 18.72}
print(len(lux))

490
18.72
{'health': 2037, 'mana': 1184, 'melee': 550, 'armor': 18.72}
{'health': 2037, 'mana': 1184, 'melee': 550, 'armor': 18.72, 'mana_regen': 3.28}
True
False
True
False
4

### 연산자 문법 설명
### == / a == b / 같음
### != / a != b / 같지 않음, 다름
### > / a > b / 큼, 초과
### < / a < b / 작음, 미만
### >= / a >= b / 크거나 같음, 이상
### <= / a <= b / 작거나 같음, 이하
### is / a is b / 같음(객체 비교)
### is not / a is not b / 같지 않음, 다름(객체 비교):
### 논리 연산자
### and a and b AND(논리곱), 양쪽 모두 참일 때 참
### or a or b OR(논리합), 양쪽 중 한쪽만 참이라도 참
### not not x NOT(논리 부정), 참과 거짓을 뒤집음