<a href="https://colab.research.google.com/github/hyeonmyeongpark/Study-Python/blob/main/Python_Coding_Dojang_(part_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Unit 20. FizzBuzz 문제**

In [3]:
# 20.1 1부터 10까지 숫자 출력하기
for i in range(1, 10):    # 1부터 100까지 100번 반복
    print(i)

# 20.2 3의 배수일 때와 5의 배수일 때 처리하기
for i in range(1, 101):
  if i % 3 == 0:
    print('Fizz')
  elif i % 5 == 0:
    print('Buzz')
  else:
    print(i)

1
2
3
4
5
6
7
8
9
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

**Unit 21. 터틀 그래픽스로 그림 그리기**

In [26]:
# 21.1 사각형 그리기
import turtle as t
t.shape('turtle')

TclError: ignored

**Unit 22. 리스트와 튜플 응용하기**

In [7]:
# 22.1.2  리스트에 요소 하나 추가하기
a = [10, 20, 30]
a.append(500)
print(a)
print(len(a))

[10, 20, 30, 500]
4

In [8]:
a = []
a.append(10)
print(a)

[10]

In [10]:
# 22.1.3  리스트 안에 리스트 추가하기
a = [10,20,30]
a.append([500, 600])
print(a)

# 22.1.4  리스트 확장하기
a = [10, 20, 30]
a.extend([500, 600])
print(a)

[10, 20, 30, [500, 600]]
[10, 20, 30, 500, 600]

In [13]:
# 22.2 리스트의 할당과 복사 알아보기
a = [0, 0, 0, 0, 0]
b = a
print(a is b)
b[2] = 99
print(a)
print(b)

True
[0, 0, 99, 0, 0]
[0, 0, 99, 0, 0]

In [17]:
a = [0, 0, 0, 0, 0]
b = a.copy()
print(a is b)
print(a == b)

False
True

In [19]:
# 22.3 반복문으로 리스트의 요소를 모두 출력하기
# 22.3.1  for 반복문으로 요소 출력하기
a = [38, 21, 53, 62, 19]
for i in a:
  print(i)
for i in [38, 21, 53, 62, 19]:
    print(i)

38
21
53
62
19
38
21
53
62
19

In [22]:
# 22.3.2  인덱스와 요소를 함께 출력하기
# for 인덱스, 요소 in enumerate(리스트):

a = [38, 21, 53, 62, 19]
for index, value in enumerate(a):
  print(index, value)

# for 인덱스, 요소 in enumerate(리스트, start=숫자):
for index, value in enumerate(a, start=1):
  print(index, value)

0 38
1 21
2 53
3 62
4 19
1 38
2 21
3 53
4 62
5 19

In [24]:
#  for 반복문에서 인덱스로 요소를 출력하기
a = [38, 21, 53, 62, 19]
for i in range(len(a)):
  print(a[i])

# 22.3.3  while반복문으로 요소 출력하기
a = [38, 21, 53, 62, 19]
i = 0
while i < len(a):
  print(a[i])
  i += 1

38
21
53
62
19
38
21
53
62
19

In [25]:
# 22.4 리스트의 가장 작은 수, 가장 큰 수, 합계 구하기
# 22.4.1  가장 작은 수와 가장 큰 수 구하기
a = [38, 21, 53, 62, 19]
smallest = a[0]
for i in a:
  if i < smallest:
    smallest = i
print(smallest)

19

In [27]:
a = [38, 21, 53, 62, 19]
smallest = a[0]
for i in a:
  if i > smallest:
    smallest = i
print(smallest)

62

In [28]:
a = [38, 21, 53, 62, 19]
a.sort()
print(a[0])
print(a[4])

19
62

In [29]:
# 22.4.2  요소의 합계 구하기
a = [10, 10, 10, 10]
x = 0
for i in a:
  x += i
print(x)

40

In [31]:
a = [10, 10, 10, 10, 10]
sum(a)

50

In [32]:
# 22.5 리스트 표현식 사용하기
a = [i for i in range(10)]        # 0부터 9까지 숫자를 생성하여 리스트 생성
print(a)

b = list(i for i in range(10))    # 0부터 9까지 숫자를 생성하여 리스트 생성
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# 22.5.2  for 반복문과 if 조건문을 여러 번 사용하기
a = [i * j for j in range(2, 10) for i in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [3]:
# 22.6 리스트에 map 사용하기
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
  a[i] = int(a[i])
print(a)

a1 = list(map(str, range(10)))
print(a1)

[1, 2, 3, 4]
['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [6]:
# 22.6.1  input().split()과 map
a = input().split()
print(a)

x = input().split()    # input().split()의 결과는 문자열 리스트
m = map(int, x)        # 리스트의 요소를 int로 변환, 결과는 맵 객체
a1, b1 = m            # 맵 객체는 변수 여러 개에 저장할 수 있음
print(a1)
print(b1)

10 20
['10', '20']
10 20
10
20

In [9]:
# 22.7 튜플 응용하기
# 22.7.1  튜플에서 특정 값의 인덱스 구하기
a = (38, 21, 53, 62, 19, 53)
a.index(53)

# 22.7.2  특정 값의 개수 구하기
a = (10, 20, 30, 15, 20, 40)
a.count(20)

# 22.7.3  for 반복문으로 요소 출력하기
a = (38, 21, 53, 62, 19)
for i in a:
  print(i, end=' ')

# 22.7.4  튜플 표현식 사용하기
a1 = tuple(i for i in range(10) if i % 2 == 0)
print(a1)

38 21 53 62 19 (0, 2, 4, 6, 8)

In [ ]:
# 22.7.5  tuple에 map 사용하기
a = (1.2, 2.5, 3.7, 4.6)
a = tuple(map(int, a))
print(a)

# 22.7.6  튜플에서 가장 작은 수, 가장 큰 수, 합계 구하기
a = (38, 21, 53, 62, 19)
print(min(a))
print(max(a))
print(sum(a))

**Unit 23. 2차원 리스트 사용하기**

In [10]:
# 23.1 2차원 리스트를 만들고 요소에 접근하기
a = [[10, 20], [30, 40], [50, 60]]
print(a)

# 23.1.1  2차원 리스트의 요소에 접근하기
a = [[10, 20], [30, 40], [50, 60]]
print(a[0] [0])            # 세로 인덱스 0, 가로 인덱스 0인 요소 출력
print(a[1][1])           # 세로 인덱스 1, 가로 인덱스 1인 요소 출력
print(a[2][1])           # 세로 인덱스 2, 가로 인덱스 0인 요소 출력
a[0][1] = 1000    # 세로 인덱스 0, 가로 인덱스 1인 요소에 값 할당
print(a[0][1])

[[10, 20], [30, 40], [50, 60]]
10
40
60
1000

In [11]:
# 23.2.1  for 반복문을 한 번만 사용하기
a = [[10, 20], [30, 40], [50, 60]]
for x, y in a:    # 리스트의 가로 한 줄(안쪽 리스트)에서 요소 두 개를 꺼냄
  print(x, y)

10 20
30 40
50 60

In [12]:
# 23.2.2  for 반복문을 두 번 사용하기
a = [[10, 20], [30, 40], [50, 60]]
 
for i in a:        # a에서 안쪽 리스트를 꺼냄
    for j in i:    # 안쪽 리스트에서 요소를 하나씩 꺼냄
        print(j, end=' ')
    print()

10 20
30 40
50 60

In [13]:
# 23.2.3  for와 range 사용하기
a = [[10, 20], [30, 40], [50, 60]]
 
for i in range(len(a)):            # 세로 크기
    for j in range(len(a[i])):     # 가로 크기
        print(a[i][j], end=' ')
    print()

10 20
30 40
50 60

In [14]:
# 23.2.4  while 반복문을 한 번 사용하기
a = [[10, 20], [30, 40], [50, 60]]
 
i = 0
while i < len(a):    # 반복할 때 리스트의 크기 활용(세로 크기)
    x, y = a[i]      # 요소 두 개를 한꺼번에 가져오기
    print(x, y)
    i += 1           # 인덱스를 1 증가시킴

10 20
30 40
50 60

In [15]:
# 23.2.5  while 반복문을 두 번 사용하기
a = [[10, 20], [30, 40], [50, 60]]
 
i = 0
while i < len(a):           # 세로 크기
    j = 0
    while j < len(a[i]):    # 가로 크기
        print(a[i][j], end=' ')
        j += 1              # 가로 인덱스를 1 증가시킴
    print()
    i += 1                  # 세로 인덱스를 1 증가시킴

10 20
30 40
50 60

In [17]:
# 23.3 반복문으로 리스트 만들기
# 23.3.1  for 반복문으로 1차원 리스트 만들기
a = []    # 빈 리스트 생성
 
for i in range(10):
    a.append(0)    # append로 요소 추가
 
print(a)

# 23.3.2  for 반복문으로 2차원 리스트 만들기
a = []    # 빈 리스트 생성
 
for i in range(3):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(2):
        line.append(0)     # 안쪽 리스트에 0 추가
    a.append(line)         # 전체 리스트에 안쪽 리스트를 추가
 
print(a)


for i in range(3):
    line = []              # 안쪽 리스트로 사용할 빈 리스트 생성

for j in range(2):
  line.append(0)     # 안쪽 리스트에 0 추가
a.append(line)         # 전체 리스트에 안쪽 리스트를 추가

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0], [0, 0], [0, 0]]

In [18]:
# 23.3.3  리스트 표현식으로 2차원 리스트 만들기
a = [[0 for j in range(2)] for i in range(3)]
print(a)

# 23.3.4  톱니형 리스트 만들기
a = [3, 1, 3, 2, 5]    # 가로 크기를 저장한 리스트
b = []    # 빈 리스트 생성
 
for i in a:      # 가로 크기를 저장한 리스트로 반복
    line = []    # 안쪽 리스트로 사용할 빈 리스트 생성
    for j in range(i):    # 리스트 a에 저장된 가로 크기만큼 반복
        line.append(0)
    b.append(line)        # 리스트 b에 안쪽 리스트를 추가
 
print(b)

[[0, 0], [0, 0], [0, 0]]
[[0, 0, 0], [0], [0, 0, 0], [0, 0], [0, 0, 0, 0, 0]]

In [19]:
# 23.4 2차원 리스트의 할당과 복사 알아보기
a = [[10, 20], [30, 40]]
b = a
b[0][0] = 500
print(a)
print(b)

a1 = [[10, 20], [30, 40]]
b1 = a.copy()
b1[0][0] = 500
print(a1)
print(b1)

[[500, 20], [30, 40]]
[[500, 20], [30, 40]]
[[10, 20], [30, 40]]
[[500, 20], [30, 40]]

**Unit 24. 문자열 응용하기**

In [21]:
# 24.1.1  문자열 바꾸기
'Hello, world!'.replace('world', 'Python')

s = 'Hello, world!'
s = s.replace('world!', 'Python')
print(s)

Hello, Python

In [23]:
# 24.1.2  문자 바꾸기
table = str.maketrans('aeiou', '12345')
'apple'.translate(table)

'1ppl2'

In [24]:
# 24.1.3  문자열 분리하기
'apple pear grape pineapple orange'.split()

['apple', 'pear', 'grape', 'pineapple', 'orange']

In [25]:
# 24.1.4  구분자 문자열과 문자열 리스트 연결하기
' '.join(['apple', 'pear', 'grape', 'pineapple', 'orange'])

'apple pear grape pineapple orange'

In [27]:
# 24.1.5  소문자를 대문자로 바꾸기
'python'.upper()

# 24.1.6  대문자를 소문자로 바꾸기
'PYTHON'.lower()

# 24.1.7  왼쪽 공백 삭제하기
'   Python   '.lstrip()

# 24.1.8  오른쪽 공백 삭제하기
'   Python   '.rstrip()

# 24.1.9  양쪽 공백 삭제하기
'   Python   '.strip()

# 24.1.10                왼쪽의 특정 문자 삭제하기
', python.'.lstrip(',.')

# 24.1.11                오른쪽의 특정 문자 삭제하기
', python.'.rstrip(',.')

# 24.1.12                양쪽의 특정 문자 삭제하기
', python.'.strip(',.')

# 24.1.13                문자열을 왼쪽 정렬하기
'python'.ljust(10)

# 24.1.14                문자열을 오른쪽 정렬하기
'python'.rjust(10)

 # 24.1.15                문자열을 가운데 정렬하기
'python'.center(10)

'  python  '

In [28]:
# 24.1.16                메서드 체이닝
'python'.rjust(10).upper()

# 24.1.17                문자열 왼쪽에 0 채우기
'35'.zfill(4)        # 숫자 앞에 0을 채움
'3.5'.zfill(6)       # 숫자 앞에 0을 채움
'hello'.zfill(10)    # 문자열 앞에 0을 채울 수도 있음

'00000hello'

In [30]:
# 24.1.18                문자열 위치 찾기
'apple pineapple'.find('pl')

# 24.1.19                오른쪽에서부터 문자열 위치 찾기
'apple pineapple'.rfind('pl')

# 24.1.20                문자열 위치 찾기
'apple pineapple'.index('pl')

# 24.1.21                오른쪽에서부터 문자열 위치 찾기
'apple pineapple'.rindex('pl')

# 24.1.22                문자열 개수 세기
'apple pineapple'.count('pl')

2

In [33]:
# 24.2 문자열 서식 지정자와 포매팅 사용하기
# 24.2.1  서식 지정자로 문자열 넣기'

print('I am %s.' % 'james')
name = 'maria'
print('I am %s.' % name)

I am james.
I am maria.

In [34]:
# 24.2.2  서식 지정자로 숫자 넣기
print('I am %d years old.' % 20)

I am 20 years old.

In [35]:
# 24.2.3  서식 지정자로 소수점 표현하기
print('%f' % 2.3)

2.300000

In [36]:
# 24.2.4  서식 지정자로 문자열 정렬하기
print('%10s' % 'python')

    python

In [37]:
# 24.2.5  서식 지정자로 문자열 안에 값 여러 개 넣기
print('Today is %d %s.' % (3, 'April'))
print('Today is %d%s.' % (3, 'April'))

Today is 3 April.

In [39]:
# 24.2.6  format 메서드 사용하기
print( 'Hello, {0}'.format('world!'))
print('Hello, {0}'.format(100))

Hello, world!
Hello, 100

In [41]:
# 24.2.7  format 메서드로 값을 여러 개 넣기
print('Hello, {0} {2} {1}'.format('Python', 'Script', 3.6))

# 24.2.8  format 메서드로 같은 값을 여러 개 넣기
print( '{0} {0} {1} {1}'.format('Python', 'Script'))

# 24.2.9  format 메서드에서 인덱스 생략하기
print('Hello, {} {} {}'.format('Python', 'Script', 3.6))

# 24.2.10                format 메서드에서 인덱스 대신 이름 지정하기
print('Hello, {language} {version}'.format(language='Python', version=3.6))

# 24.2.11                문자열 포매팅에 변수를 그대로 사용하기
language = 'Python'
version = 3.6
print(f'Hello, {language} {version}')

Hello, Python 3.6 Script
Python Python Script Script
Hello, Python Script 3.6
Hello, Python 3.6
Hello, Python 3.6

In [42]:
# 24.2.12                format 메서드로 문자열 정렬하기
print('{0:<10}'.format('python'))

# 24.2.13                숫자 개수 맞추기
print( '%03d' % 1)
print('{0:03d}'.format(35))

# 24.2.14                채우기와 정렬을 조합해서 사용하기
print('{0:0<10}'.format(15))    # 길이 10, 왼쪽으로 정렬하고 남는 공간은 0으로 채움

python
001
035
1500000000