<a href="https://colab.research.google.com/github/hyeonmyeongpark/Study-Python/blob/main/Python_Coding_Dojang_(part_4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Unit 25. 딕셔너리 응용하기**

In [1]:
# 25.1.2  딕셔너리에 키와 기본값 저장하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [2]:
x.setdefault('f', 100)
print(x)

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [3]:
# 25.1.3  딕셔너리에서 키의 값 수정하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.update(a=90)
print(x)

x.update(e=50)
print(x)

x.update(a=900, f=60)
print(x)

y = {1: 'one', 2: 'two'}
y.update({1: 'ONE', 3: 'THREE'})
y.update([[2, 'TWO'], [4, 'FOUR']])
y.update(zip([1, 2], ['one', 'two']))
print(y)

{'a': 90, 'b': 20, 'c': 30, 'd': 40}
{'a': 90, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
{'a': 900, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
{1: 'one', 2: 'two', 3: 'THREE', 4: 'FOUR'}

In [4]:
# 25.1.4  딕셔너리에서 키-값 쌍 삭제하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.pop('a')
print(x)

# 25.1.5  딕셔너리에서 임의의 키-값 쌍 삭제하기
x1 = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x1.popitem()
print(x1)

# 25.1.6  딕셔너리의 모든 키-값 쌍을 삭제하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.clear()
print(x)

# 25.1.7  딕셔너리에서 키의 값을 가져오기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('a')

# 25.1.8  딕셔너리에서 키-값 쌍을 모두 가져오기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
print(x.items())

{'b': 20, 'c': 30, 'd': 40}
{'a': 10, 'b': 20, 'c': 30}
{}
dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [5]:
# 25.1.9  리스트와 튜플로 딕셔너리 만들기
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
print(x)

{'a': None, 'b': None, 'c': None, 'd': None}

In [1]:
# 25.2 반복문으로 딕셔너리의 키-값 쌍을 모두 출력하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for i in x:
  print(i, end=' ')

a b c d

In [2]:
# 25.2.1  딕셔너리의 키만 출력하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key in x.keys():
  print(key, end=' ')

a b c d

In [3]:
# 25.2.2  딕셔너리의 값만 출력하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for value in x.values():
  print(value, end=' ')

10 20 30 40

In [4]:
# 25.3 딕셔너리 표현식 사용하기
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys).items()}
print(x)

{'a': None, 'b': None, 'c': None, 'd': None}

In [8]:
# 25.3.1  딕셔너리 표현식에서 if 조건문 사용하기
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 20}
print(x)

{'a': 10, 'c': 30, 'd': 40}

In [9]:
# 25.4 딕셔너리 안에서 딕셔너리 사용하기
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
 
print(terrestrial_planet['Venus']['mean_radius'])    # 6051.8

6051.8

In [10]:
print(terrestrial_planet['Venus']['mean_radius'])

6051.8

In [12]:
# 25.5 딕셔너리의 할당과 복사
x = {'a': 0, 'b': 0, 'c': 0, 'd': 0}
y = x
print( x is y)

True

In [13]:
# 25.5.1  중첩 딕셔너리의 할당과 복사 알아보기
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x.copy()

**Unit 26. 세트 사용하기**

In [16]:
# 26.1 세트 만들기
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
print(fruits)

# 26.1.1  세트에 특정 값이 있는지 확인하기
ruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
print('orange' in fruits)

# 26.1.2  set를 사용하여 세트 만들기
a = set('apple')    # 유일한 문자만 세트로 만듦
print(a)

{'pineapple', 'strawberry', 'grape', 'orange', 'cherry'}
True
{'l', 'p', 'a', 'e'}

In [17]:
b = set(range(5))
print(b)

c = set()
print(c)

{0, 1, 2, 3, 4}
set()

In [20]:
# 26.2 집합 연산 사용하기
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

# 합집합(union)
print(a | b)
print(set.union(a, b))

# 교집합(intersection)
print(a & b)
print({3, 4})

# 차집합(difference)
print(a - b)
print(set.difference(a, b))

# 대칭차집합(symmetric difference)
print( a ^ b)
print(set.symmetric_difference(a, b))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{1, 2, 5, 6}
{1, 2, 5, 6}

In [23]:
# 26.2.1  집합 연산 후 할당 연산자 사용하기
a = {1, 2, 3, 4}
a |= {5}
print(a)
a1 = {1, 2, 3, 4}
a1.update({5})
print(a1)

# 26.2.2  부분 집합과 상위집합 확인하기
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}
a.issubset({1, 2, 3, 4, 5})

# 26.2.3  세트가 같은지 다른지 확인하기
a = {1, 2, 3, 4}
a == {1, 2, 3, 4}

# 26.2.4  세트가 겹치지 않는지 확인하기
a = {1, 2, 3, 4}
a.isdisjoint({5, 6, 7, 8})       # 겹치는 요소가 없음

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

True

In [25]:
# 26.3 세트 조작하기
# 26.3.1  세트에 요소 추가하기
a = {1, 2, 3, 4}
a.add(5)
print(a)

# 26.3.2  세트에서 특정 요소를 삭제하기
a.remove(3)
print(a)

# 26.3.3  세트에서 임의의 요소 삭제하기
a = {1, 2, 3, 4}
a.pop()
print(a)

# 26.3.4  세트의 모든 요소를 삭제하기
a.clear()
print(a)

# 26.3.5  세트의 요소 개수 구하기
a = {1, 2, 3, 4}
print(len(a))

{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{2, 3, 4}
set()
4

In [27]:
# 26.4 세트의 할당과 복사
a = {1, 2, 3, 4}
b = a
print(a is b)
b.add(5)
print(a)
print(b)

True
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# 26.5 반복문으로 세트의 요소를 모두 출력하기

In [30]:
a = {1, 2, 3, 4}
for i in a:
  print(i)

for i in {1, 2, 3, 4}:
    print(i)

1
2
3
4
1
2
3
4

In [31]:
# 26.6 세트 표현식 사용하기
a = {i for i in 'apple'}
print(a)

# 26.6.1  세트 표현식에 if 조건문 사용하기
a = {i for i in 'pineapple' if i not in 'apl'}
print(a)

{'l', 'p', 'a', 'e'}
{'i', 'e', 'n'}

**Unit 27. 파일 사용하기**

In [33]:
# 27.1 파일에 문자열 쓰기, 읽기
# 27.1.1  파일에 문자열 쓰기
# 파일객체 = open(파일이름, 파일모드)
# 파일객체.write('문자열')
# 파일객체.close()

file = open('hello.txt', 'w')    # hello.txt 파일을 쓰기 모드(w)로 열기. 파일 객체 반환
file.write('Hello, world!')      # 파일에 문자열 저장
file.close()                     # 파일 객체 닫기
file  = open('hello.txt' , 'w' )    # hello.txt 파일을 쓰기 모드(w)로 열기. 파일 객체 반환
file.write('Hello, world!')      # 파일에 문자열 저장
file.close()                     # 파일 객체 닫기

In [35]:
# 27.1.2  파일에서 문자열 읽기
file = open('hello.txt', 'r')    # hello.txt 파일을 읽기 모드(r)로 열기. 파일 객체 반환
s = file.read()                  # 파일에서 문자열 읽기
print(s)                         # Hello, world!
file.close()                     # 파일 객체 닫기
file = open('hello.txt', 'r')    # hello.txt 파일을 읽기 모드(r)로 열기. 파일 객체 반환
s = file.read()                  # 파일에서 문자열 읽기
print(s)                         # Hello, world!
file.close()                     # 파일 객체 닫기

Hello, world!
Hello, world!

In [36]:
# 27.1.3  자동으로 파일 객체 닫기
with open('hello.txt', 'r') as file:    # hello.txt 파일을 읽기 모드(r)로 열기
    s = file.read()                     # 파일에서 문자열 읽기
    print(s)                            # Hello, world!

Hello, world!

In [41]:
# 27.2 문자열 여러 줄을 파일에 쓰기, 읽기
# 27.2.1  반복문으로 문자열 여러 줄을 파일에 쓰기
with open('hello.txt', 'w') as file:    # hello.txt 파일을 쓰기 모드(w)로 열기
    for i in range(3):
        file.write('Hello, world! {0}\n'.format(i))

In [39]:
# 27.2.2  리스트에 들어있는 문자열을 파일에 쓰기
lines = ['안녕하세요.\n', '파이썬\n', '코딩 도장입니다.\n']
 
with open('hello.txt', 'w') as file:    # hello.txt 파일을 쓰기 모드(w)로 열기
    file.writelines(lines)

In [40]:
# 27.2.3  파일의 내용을 한 줄씩 리스트로 가져오기
with open('hello.txt', 'r') as file:    # hello.txt 파일을 읽기 모드(r)로 열기
    lines = file.readlines()
    print(lines)

['안녕하세요.\n', '파이썬\n', '코딩 도장입니다.\n']

In [42]:
# 27.2.4  파일의 내용을 한 줄씩 읽기
with open('hello.txt', 'r') as file:    # hello.txt 파일을 읽기 모드(r)로 열기
    line = None    # 변수 line을 None으로 초기화
    while line != '':
        line = file.readline()
        print(line.strip('\n'))    # 파일에서 읽어온 문자열에서 \n 삭제하여 출력

Hello, world! 0
Hello, world! 1
Hello, world! 2

In [43]:
# 27.2.5  for 반복문으로 파일의 내용을 줄 단위로 읽기
with open('hello.txt', 'r') as file:    # hello.txt 파일을 읽기 모드(r)로 열기
    for line in file:    # for에 파일 객체를 지정하면 파일의 내용을 한 줄씩 읽어서 변수에 저장함
        print(line.strip('\n'))    # 파일에서 읽어온 문자열에서 \n 삭제하여 출력

Hello, world! 0
Hello, world! 1
Hello, world! 2

In [44]:
# 27.3 파이썬 객체를 파일에 저장하기, 가져오기
# 27.3.1  파이썬 객체를 파일에 저장하기
import pickle
 
name = 'james'
age = 17
address = '서울시 서초구 반포동'
scores = {'korean': 90, 'english': 95, 'mathematics': 85, 'science': 82}
 
with open('james.p', 'wb') as file:    # james.p 파일을 바이너리 쓰기 모드(wb)로 열기
    pickle.dump(name, file)
    pickle.dump(age, file)
    pickle.dump(address, file)
    pickle.dump(scores, file)

In [45]:
# 27.3.2  파일에서 파이썬 객체 읽기
import pickle
 
with open('james.p', 'rb') as file:    # james.p 파일을 바이너리 읽기 모드(rb)로 열기
    name = pickle.load(file)
    age = pickle.load(file)
    address = pickle.load(file)
    scores = pickle.load(file)
    print(name)
    print(age)
    print(address)
    print(scores)

james
17
서울시 서초구 반포동
{'korean': 90, 'english': 95, 'mathematics': 85, 'science': 82}

**Unit 28. 회문 판별과 N-gram 만들기**

In [46]:
# 28.1 회문 판별하기
# 28.1.1  반복문으로 문자 검사하기
word = input('단어를 입력하세요: ')
 
is_palindrome = True                 # 회문 판별값을 저장할 변수, 초깃값은 True
for i in range(len(word) // 2):      # 0부터 문자열 길이의 절반만큼 반복
    if word[i] != word[-1 - i]:      # 왼쪽 문자와 오른쪽 문자를 비교하여 문자가 다르면
        is_palindrome = False        # 회문이 아님
        break
 
print(is_palindrome)                 # 회문 판별값 출력

단어를 입력하세요: level
True

In [47]:
# 28.1.2  시퀀스 뒤집기로 문자 검사하기
word = input('단어를 입력하세요: ')
 
print(word == word[::-1])    # 원래 문자열과 반대로 뒤집은 문자열을 비교

단어를 입력하세요: level
False

In [48]:
# 28.1.3  리스트와 reversed 사용하기
word = 'level'
list(word) == list(reversed(word))

True

In [49]:
# 28.1.4  문자열의 join 메서드와 reversed 사용하기
word = 'level'
word == ''.join(reversed(word))

True

In [50]:
# 28.2 N-gram 만들기
# 28.2.1  반복문으로 N-gram 출력하기
text = 'Hello'
 
for i in range(len(text) - 1):             # 2-gram이므로 문자열의 끝에서 한 글자 앞까지만 반복함
    print(text[i], text[i + 1], sep='')    # 현재 문자와 그다음 문자 출력

He
el
ll
lo

In [51]:
text = 'this is python script'
words = text.split()                 # 공백을 기준으로 문자열을 분리하여 리스트로 만듦
 
for i in range(len(words) - 1):      # 2-gram이므로 리스트의 마지막에서 요소 한 개 앞까지만 반복함
    print(words[i], words[i + 1])    # 현재 문자열과 그다음 문자열 출력

this is
is python
python script

In [52]:
# 28.2.2  zip으로 2-gram 만들기
text = 'hello'
 
two_gram = zip(text, text[1:])
for i in two_gram:
    print(i[0], i[1], sep='')

he
el
ll
lo

In [53]:
# 28.2.3  zip과 리스트 표현식으로 N-gram 만들기
text = 'hello'
[text[i:] for i in range(3)]

['hello', 'ello', 'llo']

**Unit 29. 함수 사용하기**

In [54]:
# 29.1 Hello, world! 출력 함수 만들기
# 29.1.1  함수 만들기
def hello():
   print('Hello, world!')

In [55]:
# 29.1.2  함수 호출하기
hello()

Hello, world!

In [56]:
# 29.1.3  소스 파일에서 함수를 만들고 호출하기
def hello():
    print('Hello, world!')
 
hello()

Hello, world!

In [ ]:
# 29.1.4  함수의 실행 순서
# 파이썬 스크립트 최초 실행
# hello 함수 호출
# hello 함수 실행
# print 함수 실행 및 'Hello, world!' 출력
# hello 함수 종료
# 파이썬 스크립트 종료

In [57]:
# 29.2 덧셈 함수 만들기
def add(a, b):
  print(a + b)

In [58]:
add(10, 20)

30

In [59]:
# 29.3 함수의 결과를 반환하기
def add(a, b):
  return a + b
x = add(10, 20)
print(x)

30

In [60]:
# 29.4 함수에서 값을 여러 개 반환하기
def add_sub(a, b):
  return a + b, a - b
x, y = add_sub(10, 20)
print(x)
print(y)

30
-10

In [61]:
# 29.5 함수의 호출 과정 알아보기
def mul(a, b):
    c = a * b
    return c
 
def add(a, b):
    c = a + b
    print(c)
    d = mul(a, b)
    print(d)
 
x = 10
y = 20
add(x, y)

30
200

**Unit 30. 함수에서 위치 인수와 키워드 인수 사용하기**

In [62]:
# 30.1 위치 인수와 리스트 언패킹 사용하기
print(10, 20, 30)

# 30.1.1  위치 인수를 사용하는 함수를 만들고 호출하기
def print_numbers(a, b, c):
  print(a)
  print(b)
  print(c)
print_numbers(10, 20, 30)

10 20 30
10
20
30

In [65]:
# 30.1.2  언패킹 사용하기
x = [10, 20, 30]
print_numbers(*x)

print_numbers(*[10, 20, 30])

# 30.1.3  가변 인수 함수 만들기
def print_numbers(*args):
  for arg in args:
    print(arg)
print_numbers(10)

10
20
30
10
20
30
10

In [66]:
# 30.2 키워드 인수 사용하기
def personal_info(name, age, address):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)
personal_info('홍길동', 30, '서울시 용산구 이촌동')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [72]:
# 30.3 키워드 인수와 딕셔너리 언패킹 사용하기
def personal_info(name, age, address):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(**x)

# 30.3.1  **를 두 번 사용하는 이유
x = {'name': '홍길동', 'age': 30, 'address': '서울시 용산구 이촌동'}
personal_info(*x)
personal_info(**x)

# 30.3.2  키워드 인수를 사용하는 가변 인수 함수 만들기
def personal_info(**kwargs):
  for kw, arg in kwargs.items():
    print(kw, ': ', arg, sep='')

이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동
이름:  name
나이:  age
주소:  address
이름:  홍길동
나이:  30
주소:  서울시 용산구 이촌동

In [71]:
# 30.4 매개변수에 초깃값 지정하기
def personal_info(name, age, address='비공개'):
  print('이름: ', name)
  print('나이: ', age)
  print('주소: ', address)
personal_info('홍길동', 30)

이름:  홍길동
나이:  30
주소:  비공개

**Unit 31. 함수에서 재귀호출 사용하기**

In [77]:
# 31.1 재귀호출 사용하기
def hello():
    print('Hello, world!')
    #hello()

hello()

Hello, world!

In [78]:
# 31.1.1  재귀호출에 종료 조건 만들기
def hello(count):
    if count == 0:    # 종료 조건을 만듦. count가 0이면 다시 hello 함수를 호출하지 않고 끝냄
        return
    
    print('Hello, world!', count)
    
    count -= 1      # count를 1 감소시킨 뒤
    hello(count)    # 다시 hello에 넣음
 
hello(5)    # hello 함수 호출

Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1

In [81]:
# 31.2 재귀호출로 팩토리얼 구하기
def factorial(n):
    if n == 1:      # n이 1일 때
        return 1    # 1을 반환하고 재귀호출을 끝냄
    return n * factorial(n - 1)    # n과 factorial 함수에 n - 1을 넣어서 반환된 값을 곱함
 
print(factorial(5))

def factorial(n):
    if n == 1:      # n이 1일 때
        return 1    # 1을 반환하고 재귀호출을 끝냄

120

**Unit 32. 람다 표현식 사용하기**

In [82]:
# 32.1 람다 표현식으로 함수 만들기
def plus_ten(x):
  return x + 10
plus_ten(1)

11

In [83]:
lambda x: x + 10

In [84]:
plus_ten = lambda x: x + 10
plus_ten(1)

11

In [88]:
# 32.1.1  람다 표현식 자체를 호출하기
(lambda x: x + 10)(1)

# 32.1.2  람다 표현식 안에서는 변수를 만들 수 없다
(lambda x: x + y)(1)

# 32.1.3  람다 표현식을 인수로 사용하기
def plus_ten(x):
  return x + 10

list(map(plus_ten, [1, 2, 3]))
list(map(lambda x: x + 10, [1, 2, 3]))

[11, 12, 13]

**Unit 32. 람다 표현식 사용하기**

In [90]:
# 32.2 람다 표현식과 map, filter, reduce 함수 활용하기
# 32.2.1  람다 표현식에 조건부 표현식 사용하기
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: str(x) if x % 3 == 0 else x, a))
list(map(lambda x: str(x) if x % 3 == 0, a))
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: str(x) if x == 1 else float(x) if x == 2 else x + 10, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [91]:
def f(x):
  if x == 1:
    return str(x)
  elif x == 2:
    return float(x)
  else:
    return x + 10

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(f, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

In [93]:
# 32.2.2  map에 객체를 여러 개 넣기
a = [1, 2, 3, 4, 5]
b = [2, 4, 6, 8, 10]
list(map(lambda x, y: x * y, a, b))

# 32.2.3  filter 사용하기
def f(x):
  return x > 5 and x < 10

a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
list(filter(f, a))

[8, 7, 9]

In [95]:
# 32.2.4  reduce 사용하기
def f(x, y):
  return x + y

a = [1, 2, 3, 4, 5]
from functools import reduce
reduce(f, a)

15

**Unit 33. 클로저 사용하기**

In [96]:
# 33.1 변수의 사용 범위 알아보기
x = 10          # 전역 변수
def foo():
    print(x)    # 전역 변수 출력
 
foo()
print(x)        # 전역 변수 출력

10
10

In [97]:
# 33.1.1  함수 안에서 전역 변수 변경하기
x = 10          # 전역 변수
def foo():
    x = 20      # x는 foo의 지역 변수
    print(x)    # foo의 지역 변수 출력
 
foo()
print(x)        # 전역 변수 출력

20
10

In [98]:
x = 10          # 전역 변수
def foo():
    global x    # 전역 변수 x를 사용하겠다고 설정
    x = 20      # x는 전역 변수
    print(x)    # 전역 변수 출력
 
foo()
print(x)        # 전역 변수 출력

20
20

In [99]:
# 전역 변수 x가 없는 상태
def foo():
    global x    # x를 전역 변수로 만듦
    x = 20      # x는 전역 변수
    print(x)    # 전역 변수 출력
 
foo()
print(x)        # 전역 변수 출력

20
20

In [100]:
# 33.2 함수 안에서 함수 만들기
def print_hello():
    hello = 'Hello, world!'
    def print_message():
        print(hello)
    print_message()
 
print_hello()

Hello, world!

In [101]:
# 33.2.1  지역 변수의 범위
def print_hello():
    hello = 'Hello, world!'
    def print_message():
        print(hello)    # 바깥쪽 함수의 지역 변수를 사용

In [102]:
# 33.2.2  지역 변수 변경하기
def A():
    x = 10        # A의 지역 변수 x
    def B():
        x = 20    # x에 20 할당
 
    B()
    print(x)      # A의 지역 변수 x 출력
 
A()

10

In [103]:
def A():
    x = 10        # A의 지역 변수 x
    def B():
        x = 20    # B의 지역 변수 x를 새로 만듦

In [104]:
def A():
    x = 10        # A의 지역 변수 x
    def B():
        nonlocal x    # 현재 함수의 바깥쪽에 있는 지역 변수 사용
        x = 20        # A의 지역 변수 x에 20 할당
 
    B()
    print(x)      # A의 지역 변수 x 출력
 
A()

20

In [105]:
# 33.2.3  nonlocal이 변수를 찾는 순서
def A():
    x = 10
    y = 100
    def B():
        x = 20
        def C():
            nonlocal x
            nonlocal y
            x = x + 30
            y = y + 300
            print(x)
            print(y)
        C()
    B()
 
A()

50
400

In [106]:
# 33.2.4  global로 전역 변수 사용하기
x = 1
def A():
    x = 10
    def B():
        x = 20
        def C():
            global x
            x = x + 30
            print(x)
        C()
    B()
 
A()

31

In [107]:
# 33.3 클로저 사용하기
def calc():
    a = 3
    b = 5
    def mul_add(x):
        return a * x + b    # 함수 바깥쪽에 있는 지역 변수 a, b를 사용하여 계산
    return mul_add          # mul_add 함수를 반환
 
c = calc()
print(c(1), c(2), c(3), c(4), c(5))

8 11 14 17 20

In [108]:
def calc():
    a = 3
    b = 5
    def mul_add(x):
        return a * x + b    # 함수 바깥쪽에 있는 지역 변수 a, b를 사용하여 계산

In [109]:
# 33.3.2  클로저의 지역 변수 변경하기
def calc():
    a = 3
    b = 5
    total = 0
    def mul_add(x):
        nonlocal total
        total = total + a * x + b
        print(total)
    return mul_add
 
c = calc()
c(1)
c(2)
c(3)

8
19
33